{% extends "base.html" %}

{% block title %}Movies{% endblock %}

{% block content %}
    <div class="longreadpage">
        <div class="long">
            <div class="longread">
                <div class="title">
                    <h1><em>About us</em></h1>
                </div>
                <h6>Julius van den Brekel, Reinout Vrielink, Floris Bokx</h6>
                <p>Welcome to Daily Economic, your premier destination for accessible economic news, stock updates, and financial insights. Our publication is tailored for those seeking to understand the dynamic world of economics without overwhelming jargon or complexity.
                </p>
            </div>
        </div>
    </div>
{% endblock %}