{% extends "base.html" %}

{% block title %}Portfolio Tracker{% endblock %}

{% block content %}
    <div class="longreadpage">
        <div class="long">
            <div class="longread">
                <div class="title">
                    <h1><em>About us</em></h1>
                </div>
                <h6>Julius van den Brekel, Reinout Vrielink, Floris Bokx</h6>
                <!-- Text is just copied from our project proposal -->
                <p>This application is a
                    data-driven web application designed to help users manage and monitor their
                    investments in stocks. The application allows users to track the performance
                    of their portfolio in real-time and visualize trends and other other helpful
                    statistics, and receive updates on market changes. By integrating with
                    external stock market APIs, the app provides users with accurate and
                    up-to-date information about their investments.                    
                </p>
            </div>
        </div>
    </div>
{% endblock %}