{% extends "base.html" %}

{% block title %}Movies{% endblock %}

{% block content %}
<body>
<h1>Add Transaction</h1>
<form method="post">
    <label for="stock_ticker">Stock Ticker:</label>
    <input type="text" id="stock_ticker" name="stock_ticker" required>

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" required>

    <label for="price">Price:</label>
    <input type="number" id="price" name="price" step="0.01" required>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>

    <label for="transaction_type">Transaction Type:</label>
    <select id="transaction_type" name="transaction_type" required>
        <option value="BUY">BUY</option>
        <option value="SELL">SELL</option>
    </select>

    <button type="submit">Add Transaction</button>
</form>


    <a href="{{ url_for('portfolio_tracker') }}">Back to Portfolio</a>
</body>
{% endblock %}